@import "../../../styles.scss";

.navbar
{
  z-index: 2;
  background-color: $darkblack;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%,100% 80%, 99% 100%, 1% 100%, 0% 80%, 0% 0%);
}

.navborder
{
  position: absolute;
  z-index: 1;
  top: 0;
  height: 66px;
  clip-path: polygon(0% 0%, 100% 0%,100% 89%, 99% 100%, 1% 100%, 0% 89%, 0% 0%);
  background-color: $otakugreen;
}

.nav-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $mobilebreak;
  margin: auto
}

.navbar-collapse
{
  flex-grow: 0;
}

.navbar, .navbar-brand, .nav-link, .menu-button
{
  color: white !important;
}

.logo
{
 width: 32px;
}

.menu-button
{
  background: none !important;
  border-style: none;
}

.sidebar
{
  background-color: rgba(22, 22, 22, 0.868);
}

a:hover
{
  transition: text-shadow 0.225s;
  text-shadow: white 1px 1px 4px;
}

.active-page
{
  font-weight: bold;
  &::before
  {
    content: "➤ ";
  }
}
