<p-sidebar styleClass="sidebar" [(visible)]="isSidebarOpen" [baseZIndex]="10000"> Menu </p-sidebar>

<nav id="navbar" class="navbar navbar-expand-sm px-2 px-sm-3">
  <div class="nav-container">
    <a class="navbar-brand" routerLink="home">
      <img
        src="assets/images/otakunobg.png"
        alt="Logo"
        class="d-inline-block align-text-top logo"
      />
      Otaku!
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" routerLinkActive="active-page" ariaCurrentWhenActive="page">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="nav-link">Chi siamo</a>
        </li>

        <li class="nav-item">
          <a routerLink="contacts" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="nav-link">Contatti</a>
        </li>

        <li class="nav-item">
          <a routerLink="info" routerLinkActive="active-page" ariaCurrentWhenActive="page" class="nav-link">Informazioni</a>
        </li>
      </ul>
    </div>

    <button class="menu-button"  *ngIf="isScreenSmall" (click)="isSidebarOpen = true">
      <i class="pi pi-bars"></i>
    </button>
  </div>
</nav>

<div class="navbar navborder"></div>
