<div class="main container-sm px-0 px-md-5">

  <div class="carousel component">
    <app-home-carousel></app-home-carousel>
  </div>

  <hr>

  <div class="otaku-presentation component">
    <app-home-otaku-presentation></app-home-otaku-presentation>
  </div>

  <hr>

  <div class="otaku-position component">
    <app-otaku-gmaps></app-otaku-gmaps>
  </div>

  <hr>

  <div class="otaku-events component">
    <app-event-calendar></app-event-calendar>
  </div>

  <hr>

  <div class="spacer component">
     
  </div>

</div>
