<div class="main container-sm px-0 px-md-5">

  <div class="carousel component mt-5">
    <app-home-carousel></app-home-carousel>
  </div>

  <hr class="border border-2 opacity-100 my-5">

  <div class="otaku-presentation component">
    <app-home-otaku-presentation></app-home-otaku-presentation>
  </div>


  <div class="otaku-position component">
    <app-otaku-gmaps></app-otaku-gmaps>
  </div>


  <!-- <div class="otaku-events component">
    <app-event-calendar></app-event-calendar>
  </div> -->


  <div class="spacer component">
     
  </div>

</div>
