@import "../../../styles.scss";

.main
{

  color: white;
  width: 100%;
  scroll-behavior: smooth;
}

.component
{
  background-color: $darkblack;
  max-width: $mobilebreak;
  padding: 2% 0;
  margin: 8% auto;
  border-radius: $defaultBordRad;
  box-shadow: -26px 24px 0 -15px $otakugreen, 27px -19px 0 -12px $otakugreen;
}


.spacer
{
  height: 50vh;
}

hr
{
  margin: 9% 0;
  border-color: $otakugreen !important;
}

.carousel
{
  margin-top: 4%;
}
