<div class="main container">

  <div class="row">
    <div class="image col-sm-auto col-md-6 my-auto" >
      <img [src]="otakuPresentationImage" alt="">
    </div>

    <div class="description col my-3">
      <div>
        <h2>L'associazione</h2>
      </div>
      <div>
        <p>
          Un locale ammobigliato tutto a tema nerd, qui nei pressi di Talsano!
          Accomodati pure sui nostri troni di spade (o sui divanetti, sono meno appuntiti)
          e divertiti giocando a uno dei nostri tanti giochi di società o leggendo uno dei
          nostri fumetti e manga. Durante gli eventi è anche disponibile una bella
          TV dove guardare insieme qualche film o giocare a qualche torneo di videogiochi!
        </p>
      </div>
    </div>
  </div>

</div>
