<div class="main container">

  <div class="row">
    <div class="image col-sm-auto col-md-6 my-auto" >
      <img [src]="otakuPresentationImage" alt="">
    </div>

    <div class="description col my-3">
      <div>
        <h2>Lorem ipsum</h2>
      </div>
      <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur iste tempora similique architecto nostrum cumque consequatur adipisci vel, iure rem molestias praesentium exercitationem ipsum? Voluptas pariatur ipsum nihil dolorem recusandae.
      </div>
    </div>
  </div>

</div>
