/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


$darkblack : #242424;
$lightblack: #2e2e2e;
$darkgray : #3a3a3a;
$lightgray : #535353;
$mobilebreak: 960px;

body
{
  background-color: $darkgray;
}
